extends layout

block content
    div Hello all-user

    table
        thead
            tr
                td id
                td name
                td age
        tbody
            each result, i in results
                tr(class=(i%2 == 0?'odd':'even'))
                    td #{result.id}
                    td #{result.name}
                    td #{result.age}