extends layout

block content
    div All Users

    table
        thead
            tr
                td ID
                td Name
                td Age
                td Gender
        tbody
            each result, i in results
                tr(class=(i%2 == 0?'odd':'even'))
                    td #{result.id}
                    td #{result.name}
                    td(class=(result.age<=15?'junior':result.age<=30?'senior':'higher')) #{result.age}
                    td                       
                        if result.gender
                            input(type='radio', name='gender' + i, value='Female', checked)
                            label Female                     
                            input(type='radio', name='gender' + i, value='Male')
                            label Male
                        else 
                            input(type='radio', name='gender' + i, value='Female')
                            label Female                     
                            input(type='radio', name='gender' + i, value='Male', checked)
                            label Male                
                        