extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="http://tigra04.pal.rd.hpicorp.net:8080/view/WorkTool_Installer_Frey/job/FREY_Windows_Build_Welcome_Worktool/api/json") Go to Jenkins
