body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
thead {
  font-size: 25px;
  font-weight: bold;
  background-color:#A7C942;
}
.even{
  background-color: #EAF2D3;
}

.junior{
  background-color: #FFB6C1;
}

.senior{
  background-color:	#DB7093;
}

.higher{
  background-color:	#FF0000;
}

